/*sidebar style*/
.j_sidebar_130928{
    position:fixed;
    bottom:100px;
    right:30px;
    width:50px;
    z-index:99999;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-59));
}

.j_sidebar_130928 #backTop{
    /*background:transparent url("sidebar_131016.png") no-repeat 0 -174px;*/
    background:transparent url("top_plane.png");
    width:41px;
    height:74px;
    /*width:50px;
    height:51px;*/
    display:block;
}

.j_sidebar_130928 #backTop:hover{
    background-position:0 -74px;
    /*background:transparent url("sidebar_131016.png") no-repeat 0 -225px;*/
}

/* 防止ie6下滚屏抖动 */
*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}
